{% extends "base.html" %}

{% load static %}

{% block title %}Django Chat{% endblock %}

{% block content %}

<div class="container-fluid" id="main">
    {% include "errors_and_messages.html" %}


    <div class="row">

        <div class="col s12 m8">

            <iframe width="100%" height="450" src="https://www.youtube.com/embed/4993sBLAzGA?autoplay=1"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="col s12 m4">

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>All messages by this user</h4>
                </div>
                <ul id="all-user-messages"></ul>
                <div class="modal-footer align-right">
                    <a href="#" id="close-modal" class="modal-close waves-effect waves-green btn-flat">Back</a>
                </div>
            </div>


            <form class="row" id="chat-interface">
                <div class="card darken-1" id="stats">
                    <div class="card-content black-text">
                        <b>Messages in last minute: </b><b id="messages-per-minute"></b>
                        <p id="hypeValue"></p>
                    </div>
                </div>
                <ul id="chat-log"></ul>
                <br/>
                <input id="chat-message-input" autofocus type="text" autocomplete="off" placeholder="Hit Enter to Send"
                       size="100"/>
                <input type="submit" style="display: none;">
            </form>
        </div>

    </div>

    </br>

    <br/>
    <br/>

</div>

<script>
    M.AutoInit();
    let showModal = false;
    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.modal');
        let instances = M.Modal.init(elems, options);
    });

    let chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/');

    let messages_by_user = 'http://' + window.location.host + '/messages/';

    $("#close-modal").on("click", function () {
        console.log("modal closed");
       $("#all-user-messages").empty();
    });


    chatSocket.onmessage = function (e) {

        let data = JSON.parse(e.data);
        let message = data['message'];
        let sender = data['sender'];
        let time = moment().format('h:mm:ss a');
        console.log("message received", sender);
        let list = document.querySelector('#chat-log');
        list.innerHTML += `<li class="chat-item"><div class="left"><a class="modal-trigger" href="#modal1" class="sender_name"><b>${sender}</b></a> ${message}</div><div class="right grey-text time">${time}</div></li></br>`;
        $(".chat-item").on('click', function (e) {
            let sender_name = $(this).find('a').text();
            let url = messages_by_user + sender_name;
            $('.modal-content h4').text("Messages by " + sender_name);
            console.log($(this).find('a').text());
            $.get(url, function (data) {
                let messages = data['results'];
                messages.forEach(function (message) {
                    $("#all-user-messages").append('<li><div class="left" style="width: 80%;"><b>' + message['message'] + '</b></div><div class="right grey-text" style="width: 20%;">' + moment(message['created']).format("h:mm:ss a") + '</div></li>');
                })
            });
        });
        scrollToBottom();
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector("#chat-interface").addEventListener("submit", function (e) {
        e.preventDefault();
        let messageInputDom = document.querySelector('#chat-message-input');
        let message = messageInputDom.value;
        console.log("message submitted");
        chatSocket.send(JSON.stringify({
            'message': message,
            'sender': '{{ user.alias }}'
        }));

        messageInputDom.value = '';
    });

    function scrollToBottom() {
        const messages = document.querySelector("#chat-log");
        const clientHeight = messages.clientHeight;
        const scrollTop = messages.scrollTop;
        const scrollHeight = messages.scrollHeight;

        if ((clientHeight + scrollTop) <= scrollHeight) {
            messages.scrollTop = scrollHeight;
        }
    }

    setInterval(function() {
        let mpm = 0;
      $($('#chat-log li').get().reverse()).each(function(val) {
          console.log((moment() - moment($(this).find(".time").text(), "h:mm:ss a")) / 1000);
          if (((moment() - moment($(this).find(".time").text(), "h:mm:ss a")) / 1000) <= 60) {
              mpm += 1;
              console.log("ss")
          } else {
              return false;
          }
        });
        $("#messages-per-minute").text(mpm);
    }, 2000);

</script>

{% endblock %}
